body{
	margin: px;
	padding: px;
	background-image: radial-gradient(white 25%, white 74%);
	height: 100vh;
	font-family: 'Times New Roman', Times, serif;
}
.main{
	height: 800px;
	width: 800px;
	background-color: white;
	box-shadow: 5px 7px 15px 5px #b9b6b6;
	margin: 30px auto;
}

.top-section{
   background-color:#155882;
	text-align: center;
	padding: 75px;
}
.img{
	width: 200px;
	border-radius: 50%; 
	float: left;
	
}
.p1{
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin: 0px;
	margin-top: 10px;
}

.p2{
	font-size: 20px;
	color: white;
	font-weight: bold;
	margin: 0px;
	margin-top: 10px;
}
.col-div-4{
	width: 38%;
	float: right;

}
.col-div-8{
	font-style: normal;
	width: 50%;
	float: left;
	color: black;
	font-family: 'Times New Roman';
	text-align: justify;
}

.content-box{
	padding: 30px;	
}
.head{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	
}

.skills{
	margin-left: -10px;
	margin-bottom: 0px;
}
.skills li{
	padding: 5px;
}
   .container {
	 width: 100%;
	 background-color:red;
	 float: right;
   }  
   .skills {
	 text-align: left;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 color: black;
	 padding-right: 50px;
   }
   
   .html {width: 60%; background-color: #cc0c0ce0;}
   .css {width: 75%; background-color: #2196F3;}
   .js {width: 65%; background-color: #93f187;}

   .communication {width: 50%; background-color: #411313;margin-left:-60px;}
   .sketch {width: 50%; background-color: #e71891;margin-left:-60px;}
   .photograph {width: 60%; background-color: #4eb313fe;margin-left:-60px;}
   .Hireme{
	border-radius: 5px;
	background-color: #b49090;
	padding: 20px;
	text-align: center;
	width:100%;
   }
   textarea {
	width: 50%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
  }
  .container2{
	width: 100%;
  }
  .btn2{
	background-color: white;
	padding: 20px;
	float: center;
	font-family: 'Times New Roman';
	font-size: 15px;
	font-weight: bold;
	border: 5px solid #155882;

  }
  .btn3{
	background-color: rgb(64, 204, 33);
	padding: 20px;
	float: center;
	font-family: 'Times New Roman';
	font-size: 15px;
	font-weight: bold;
	position:center;
   border: 5px solid #155882;

  }
  

  
  